<fieldset>
	<h2>Geral</h2>
	<table>
		<tr>
			<td><label>Background da loja em imagem (body)</label></td>
			<td>
				<input  type="file"  id="bg_img_body" name="background_body.png" />
				<p><small>Tamanho Livre</small></p>
			</td>
		</tr>	
		<tr>
			<td><label>Background loja com cor (body)</label></td>
			<td><input  type="text" class="colors" name="bg_body" value="#fff" /></td>
		</tr>
		<tr>
			<td><label>Background da loja</label></td>
			<td>
				<input  type="radio" name="background_loja" value="backgroundImagem"/> Background com imagem
				<input  type="radio" name="background_loja" value="backgroundCor"/> Background com cor
			</td>
		</tr>															
		<tr>
			<td><label>Link padrão</label></td>
			<td><input  type="text" class="colors" name="link_padrao" value="#474747" /></td>
		</tr>
		<tr>
			<td><label>Texto padrão</label></td>
			<td><input  type="text" class="colors" name="texto_padrao" value="#474747" /></td>
		</tr>
		<tr>
			<td><label>Bordas da loja</label></td>
			<td><input  type="text" class="colors" name="borda_padrao" value="#ebebeb" /></td>
		</tr>	
		<tr>
			<td><label>Background da tag de lançamento</label></td>
			<td><input  type="text" class="colors" name="bg_tag_lancamento" value="#df7f0d" /></td>
		</tr>	
		<tr>
			<td><label>Texto tag de lançamento</label></td>
			<td><input  type="text" class="colors" name="texto_tag_lancamento" value="#fff" /></td>
		</tr>	
		<tr>
			<td><label>Background da tag de frete</label></td>
			<td><input  type="text" class="colors" name="bg_tag_frete" value="#0f3b69" /></td>
		</tr>	
		<tr>
			<td><label>Texto tag de frete</label></td>
			<td><input  type="text" class="colors" name="texto_tag_frete" value="#fff" /></td>
		</tr>
		<tr>
			<td><label>Background da tag de indisponível</label></td>
			<td><input  type="text" class="colors" name="bg_tag_indisponivel" value="#333" /></td>
		</tr>	
		<tr>
			<td><label>Texto tag de indisponível</label></td>
			<td><input  type="text" class="colors" name="texto_tag_indisponivel" value="#fff" /></td>
		</tr> 
		<tr>
			<td><label>Img de Carrinho vazio (Carrinho)</label></td>
			<td>
				<input  type="file"  id="img_carrinho_vazio" name="carrinho_vazio.png" />
				<p><small>Dimensões recomendadas 293 x 203px</small></p>
			</td>
		</tr>	
		<tr>
			<td><label>Img de fundo para o número do pedido (Pagamento)</label></td>
			<td>
				<input  type="file"  id="img_numero_pedido" name="bg_numero_pedido.png" />
				<p><small>Dimensões recomendadas 237 x 145px</small></p>
			</td>
		</tr>	
		<tr>
			<td><label>Texto do número do pedido (Pagamento)</label></td>
			<td><input  type="text" class="colors" name="texto_numero_pedido" value="#8A000C" /></td>
		</tr>																									
		<tr>
			<td><label>FavIcon da loja</label></td>
			<td>
				<input  type="file"  id="img_favicon" name="favicon.ico" />
				<p><small>Tamanho exato 16 x 16px</small></p>
			</td>
		</tr>										
	</table>
</fieldset>        
<fieldset>
	<h2>Header</h2>
	<table>
		<tr>
			<td><label>Background topo</label></td>
			<td><input  type="text" class="colors" name="bg_topo" value="#fff"/></td>
		</tr>	
		<tr>
			<td><label>logo da loja</label></td>
			<td>
				<input  type="file"  id="logo_loja" name="logo.png" />
				<p><small><a href="https://sslcustom.ciashop.local/apps/assets/templates/2/imagens/logo.png" class="link_arquivo"><img src="imagens/upload_arquivo.png" alt="Subir arquivo">logo_topo.png</small></a></p>
			</td>
		</tr>								
		<tr>
			<td><label>Links no topo</label></td>
			<td><input  type="text" class="colors" name="link_topo" value="#474747" /></td>
		</tr>
		<tr>
			<td><label>Background input busca topo</label></td>
			<td><input  type="text" class="colors" name="input_busca_topo" value="#fff"/></td>
		</tr>	
		<tr>
			<td><label>Borda do input busca topo</label></td>
			<td><input  type="text" class="colors" name="bg_busca_topo" value="#474747"/></td>
		</tr>
		<tr>
			<td><label>Imagem do botão pesquisar topo</label></td>
			<td>
				<input  type="file"  id="img_pesquisar_topo" name="logo.png" />
				<p><small>Dimensões recomendadas 29 x 29px</small></p>
			</td>
		</tr>	
		<tr>
			<td><label>Imagem Mini Carrinho</label></td>
			<td>
				<input  type="file"  id="img_mini_carrinho" name="btn_carrinho.png" />
				<p><small>Dimensões recomendadas 134 x 55px</small></p>
			</td>
		</tr>																				
	</table>	        	
</fieldset>
<fieldset>
	<h2>Footer</h2>
	<table>
		<tr>
			<td><label>Background do Rodapé</label></td>
			<td><input  type="text" class="colors" name="bg_rodape" value="#fff"/></td>
		</tr>					
		<tr>
			<td><label>Background da Newsletter</label></td>
			<td><input  type="text" class="colors" name="bg_newsletter" value="#ebebeb"/></td>
		</tr>
		<tr>
			<td><label>Borda da caixa de newsletter</label></td>
			<td><input  type="text" class="colors" name="borda_newsletter" value="#474747"/></td>
		</tr>					
		<tr>
			<td><label>Img newsletter</label></td>
			<td>
				<input  type="file"  id="img_newsletter" name="img_newsletter.png" />
				<p><small>Dimensões recomendadas 208 x 66px</small></p>
			</td>
		</tr>									
		<tr>
			<td><label>Texto da newsletter</label></td>
			<td><input  type="text" class="colors" name="texto_newsletter" value="#474747"/></td>
		</tr>										
		<tr>
			<td><label>Background input newsletter</label></td>
			<td><input  type="text" class="colors" name="input_newsletter" value="#fff"/></td>
		</tr>
		<tr>
			<td><label>Borda input newsletter</label></td>
			<td><input  type="text" class="colors" name="borda_input_newsletter" value="#474747"/></td>
		</tr>						
		<tr>
			<td><label>Botão enviar newsletter</label></td>
			<td>
				<input  type="file"  id="bt_enviar_newsletter" name="bt-newsletter-pe.png" />
				<p><small>Dimensões recomendadas 32 x 26px</small></p>
			</td>
		</tr>				
		<tr>
			<td><label>Títulos do Rodapé</label></td>
			<td><input  type="text" class="colors" name="titulos_rodape" value="#0F3B69"/></td>
		</tr>
		<tr>
			<td><label>Background do Rodapé Direitos</label></td>
			<td><input  type="text" class="colors" name="bg_rodape_direitos" value="#ececec"/></td>
		</tr>	
		<tr>
			<td><label>Exibir páginas institucionais</label></td>
			<td><input  type="checkbox" name="exibir_pg_institucional" /></td>
		</tr>        																					
	</table>	        	
</fieldset>         
<fieldset>
	<h2>Menu Horizontal</h2>
	<table>
		<tr>
			<td><label>Exibir menu horizontal</label></td>
			<td><input  type="checkbox" name="exibir_menu_horizontal" /></td>
		</tr>        		
		<tr>
			<td><label>Background do menu horizontal</label></td>
			<td><input  type="text" class="colors" name="menu_horizontal" value="#fff"/></td>
		</tr>
		<tr>
			<td><label>Cor da borda do menu horizontal</label></td>
			<td><input  type="text" class="colors" name="borda_menu_horizontal" value="#326aa9"/></td>
		</tr>																				
		<tr>
			<td><label>Texto dos menus pais horizontal</label></td>
			<td><input  type="text" class="colors" name="link_pai_menu_horizontal" value="#474747" /></td>
		</tr>
		<tr>
			<td><label>Borda dos menus pais</label></td>
			<td><input  type="text" class="colors" name="borda_divisa_menu" value="#e2e2e2" /></td>
		</tr>										
		<tr>
			<td><label>Texto do menu filho horizontal</label></td>
			<td><input  type="text" class="colors" name="link_filho_menu_horizontal" value="#5c5c5c"/></td>
		</tr>							
		<tr>
			<td><label>Background Hover dos menus</label></td>
			<td><input  type="text" class="colors" name="link_menu_topo_hover" value="#bfcbd7"/></td>
		</tr>	        		
	</table>
</fieldset>
<fieldset>
	<h2>Menu Vertical</h2>
	<table>
		<tr>
			<td><label>Exibir menu vertical</label></td>
			<td><input  type="checkbox" name="exibir_menu_vertical" /></td>
		</tr>        		        		
		<tr>
			<td><label>Background do menu vertical (pg principal)</label></td>
			<td><input  type="text" class="colors" name="bg_menu_vertical" value="#568ac6"/></td>
		</tr>						
		<tr>
			<td><label>Links do menu vertical (pg principal)</label></td>
			<td><input  type="text" class="colors" name="link_menu_vertical_principal" value="#fff"/></td>
		</tr>		
		<tr>
			<td><label>Hover dos Links no menu vertical (pg principal)</label></td>
			<td><input  type="text" class="colors" name="hover_link_menu_vertical_principal" value="#326aa9"/></td>
		</tr>													
		<tr>
			<td><label>Borda em baixo do menu vertical (demais páginas)</label></td>
			<td><input  type="text" class="colors" name="borda_bottom_menu_vertical" value="#326aa9"/></td>
		</tr>						        		
		<tr>
			<td><label>Background do menu vertical (demais páginas)</label></td>
			<td><input  type="text" class="colors" name="bg_menu_vertical_secundario" value="#568ac6"/></td>
		</tr>
		<tr>
			<td><label>Links do menu vertical (demais páginas)</label></td>
			<td><input  type="text" class="colors" name="link_menu_vertical_secundario" value="#fff"/></td>
		</tr>		
		<tr>
			<td><label>Hover dos Links no menu vertical (demais páginas)</label></td>
			<td><input  type="text" class="colors" name="hover_link_menu_vertical_secundario" value="#326aa9"/></td>
		</tr>	
	</table>
</fieldset>        
<fieldset>
	<h2>Botões</h2>
	<table>
		<tr>
			<td><label>Background dos botões principais</label></td>
			<td><input  type="text" class="colors" name="bg_bt_principal" value="#167856"/></td>
		</tr>					
		<tr>
			<td><label>Texto dos botões principais</label></td>
			<td><input  type="text" class="colors" name="texto_bt_principal" value="#fff"/></td>
		</tr>
		<tr>
			<td><label>Background do botões secundários</label></td>
			<td><input  type="text" class="colors" name="bg_bt_secundario" value="#326aa9"/></td>
		</tr>					
		<tr>
			<td><label>Texto do botões secundários</label></td>
			<td><input  type="text" class="colors" name="texto_bt_secundario" value="#fff"/></td>
		</tr>
		<tr>
			<td><label>Background do botões terciários</label></td>
			<td><input  type="text" class="colors" name="bg_bt_terciario" value="#8a8a8a"/></td>
		</tr>					
		<tr>
			<td><label>Texto do botões terciários</label></td>
			<td><input  type="text" class="colors" name="texto_bt_terciario" value="#fff"/></td>
		</tr>		
		<tr>
			<td><label>Background do botões especiais</label></td>
			<td><input  type="text" class="colors" name="bg_bt_especial" value="#568AC6"/></td>
		</tr>					
		<tr>
			<td><label>Texto do botões especiais</label></td>
			<td><input  type="text" class="colors" name="texto_bt_especial" value="#fff"/></td>
		</tr>										
	</table>	        	
</fieldset>         
<fieldset>
	<h2>Títulos</h2>
	<table>
		<tr>
			<td><label>Background dos títulos principais</label></td>
			<td><input  type="text" class="colors" name="bg_tit_principal" value="#326aa9" /></td>
		</tr>					
		<tr>
			<td><label>Texto dos títulos principais</label></td>
			<td><input  type="text" class="colors" name="texto_tit_principal" value="#fff"/></td>
		</tr>				
		<tr>
			<td><label>Background dos títulos secundários</label></td>
			<td><input  type="text" class="colors" name="bg_tit_secundario" value="#474747" /></td>
		</tr>					
		<tr>
			<td><label>Texto dos títulos secundários</label></td>
			<td><input  type="text" class="colors" name="texto_tit_secundario" value="#fff"/></td>
		</tr>	
		<tr>
			<td><label>Background dos títulos das vitrines</label></td>
			<td><input  type="text" class="colors" name="bg_tit_vitrine" value="#ebebeb" /></td>
		</tr>					
		<tr>
			<td><label>Texto dos títulos das vitrine</label></td>
			<td><input  type="text" class="colors" name="texto_tit_vitrine" value="#474747"/></td>
		</tr>
		<tr>
			<td><label>Texto do nome das páginas</label></td>
			<td><input  type="text" class="colors" name="texto_tit_pg" value="#326aa9"/></td>
		</tr>		
		<tr>
			<td><label>Texto da paginação (Departamento/Busca)</label></td>
			<td><input  type="text" class="colors" name="texto_paginacao" value="#474747"/></td>
		</tr>	
		<tr>
			<td><label>Background da pagina selecionada (Departamento/Busca)</label></td>
			<td><input  type="text" class="colors" name="bg_paginacao_selecionado" value="#326AA9"/></td>
		</tr>	
		<tr>
			<td><label>Texto da pagina selecionada (Departamento/Busca)</label></td>
			<td><input  type="text" class="colors" name="texto_paginacao_selecionado" value="#fff"/></td>
		</tr>	
		<tr>
			<td><label>Background do título de navegação dos últimos produtos vistos</label></td>
			<td><input  type="text" class="colors" name="bg_navegacao" value="#474747"/></td>
		</tr>	
		<tr>
			<td><label>Texto do título de navegação dos últimos produtos vistos</label></td>
			<td><input  type="text" class="colors" name="texto_navegacao" value="#fff"/></td>
		</tr>	
		<tr>
			<td><label>Texto do título Compra Express</label></td>
			<td><input  type="text" class="colors" name="texto_tit_compra_express" value="#326aa9"/></td>
		</tr>
		<tr>
			<td><label>Img para o passo de entrega</label></td>
			<td>
				<input  type="file"  id="passo_entrega" name="passo_entrega.png" />
				<p><small>Dimensões recomendadas 414 x 73px</small></p>
			</td>
		</tr>
		<tr>
			<td><label>Img para o passo de pagamento</label></td>
			<td>
				<input  type="file"  id="passo_pagamento" name="passo_pagamento.png" />
				<p><small>Dimensões recomendadas 414 x 73px</small></p>
			</td>
		</tr>									
	</table>	        	
</fieldset>	
<fieldset>
	<h2>Vitrines e Produto</h2>
	<table>
		<tr>
			<td><label>Vitrine Jquery da página principal</label></td>
			<td>
				<select placeholder="Mais Vendidos" class="collection" name="vitrine_jquery" />
			</td>
		</tr>	
		<tr>
			<td><label>Vitrine 01 da página principal</label></td>
			<td>
				<select placeholder="Mais Vendidos" class="collection" name="vitrine_um" />
			</td>
		</tr>									
		<tr>
			<td><label>Nome do produto</label></td>
			<td><input  type="text" class="colors" name="texto_nome_produto" value="#474747" /></td>
		</tr>					
		<tr>
			<td><label>Preço de</label></td>
			<td><input  type="text" class="colors" name="texto_preco_de" value="#474747"/></td>
		</tr>				
		<tr>
			<td><label>Preço por</label></td>
			<td><input  type="text" class="colors" name="texto_preco_por" value="#474747"/></td>
		</tr>				
		<tr>
			<td><label>Preço parcelado</label></td>
			<td><input  type="text" class="colors" name="texto_preco_parcelado" value="#474747"/></td>
		</tr>			
		<tr>
			<td><label>Preço a vista</label></td>
			<td><input  type="text" class="colors" name="texto_preco_vista" value="#474747"/></td>
		</tr>										
		<tr>
			<td><label>Background preço do produto (Somente na página do produto)</label></td>
			<td><input  type="text" class="colors" name="bg_preco_produto" value="#f0f0f0"/></td>
		</tr>
		<tr>
			<td><label>Título com o nome do produto (Somente na página do produto)</label></td>
			<td><input  type="text" class="colors" name="tit_produto" value="#474747"/></td>
		</tr>	
		<tr>
			<td><label>Bullet do botão comprar (Somente na página do produto)</label></td>
			<td>
				<input  type="file"  id="img_comprar" name="bt_comprar.png" />
				<p><small>Tamanho exato 56 x 55px</small></p>
			</td>
		</tr>																																									
	</table>	        	
</fieldset>	   
<fieldset>
	<h2>Mensagem de erro/sucesso</h2>
	<table>
		<tr>
			<td><label>Background da mensagem de erro</label></td>
			<td><input  type="text" class="colors" name="bg_lista_erro" value="#FFF5E1" /></td>
		</tr>					
		<tr>
			<td><label>Borda da mensagem de erro</label></td>
			<td><input  type="text" class="colors" name="border_lista_erro" value="#FCE7BB" /></td>
		</tr>										
		<tr>
			<td><label>Texto da mensagem de erro</label></td>
			<td><input  type="text" class="colors" name="texto_lista_erro" value="#5a5a5a" /></td>
		</tr>	
		<tr>
			<td><label>Background da mensagem de sucesso</label></td>
			<td><input  type="text" class="colors" name="bg_lista_sucesso" value="#acddcc" /></td>
		</tr>					
		<tr>
			<td><label>Borda da mensagem de sucesso</label></td>
			<td><input  type="text" class="colors" name="border_lista_sucesso" value="#167856" /></td>
		</tr>										
		<tr>
			<td><label>Texto da mensagem de sucesso</label></td>
			<td><input  type="text" class="colors" name="texto_lista_sucesso" value="#5a5a5a" /></td>
		</tr>
	</table>	        	
</fieldset>	